.header {
    background-color: $bg-secondary;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
}

.header__logo {
    padding-top: 20px;
    padding-bottom: 30px;
}

.header__logo-link {
    margin-right: 255px;
    text-decoration: none;
    color: $white;
}

