h2, h3 {
    margin: 0;
    padding: 0;
    font-family: "Antic Didone", Arial, sans-serif;
    font-size: 60px;
    font-weight: 100;
    line-height: 60px;
}

h2 {
    text-transform: uppercase;
}

h3 {
    font-size: 30px;
    line-height: 30px;
}

