@font-face {
    font-family: "Bon voyage";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/bon-voyage-regular.otf");
}

@font-face {
    font-family: "Bon voyage";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("./fonts/bon-voyage-thin.otf");
}

@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/helvetica.otf");
}

@font-face {
    font-family: "Helvetica";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/helvetica.otf");
}


